
# Autosaves
*.ac~
*.am~
*.scm~
*.m4~
*.awk~
*.scm.in~
.gitattributes~
.gitignore~

# Testing output
*.log
*.trs
*.test

# Packaging
config.status
config.log
autom4te.cache
aclocal.m4
configure
Makefile.in
Makefile
doc/.dirstamp
doc/stamp-vti
doc/version.texi

# Built files
*.go
*.fasl
*.info
src/r6rs/unit-test-tap.scm
src/r7rs/unit-test-tap.scm
test/tests-r6rs.scm
test/tests-r7rs.scm

